/* Content First */
/* Importaciones */
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu');
/* Estilos generales */
    *{
        box-sizing: border-box;
        font-family: 'Ubuntu', 'Century Gothic', sans-serif;
        scroll-behavior: smooth;
    }
/* Navegacion */

/* Cabecera */

    /* Encabezado */

    /* Galeria */

/* Contenido */

    /* Areas de GIT */

    /* Apuntadores de GIT */

    /* Control de Cambios */

/* Pie de Pagina */

    /* Mapa de Contacto */

    /* Repositorios */

    /* Colaboradores */
    .table,
    .table caption{
        color: #eee;
        text-shadow: 0 0 .5rem #333;
    }
    .table thead{
        background-color: #c36;
    }
    .table tbody{
        background: linear-gradient(#c36, #448);
    }
    .table caption{
        background-color: #448;
    }
    .table tbody tr:nth-child(even){
        background-color: hsl(0, 0%, 90%, .4);
    }
    .table tbody tr:nth-child(odd){
        background-color: hsl(0, 0%, 70%, .4);
    }
    /* Formulario Contacto */

    /* Redes sociales */

    /* Derechos de Autor */

/* Small Devices - smartphones */

/* Medium Devices - Tablets */

/* Large Devices - Laptops */

/* Extra Large - Desktop */