/* Content First */
/* Importaciones */
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu');
/* Estilos generales */
    *{
        box-sizing: border-box;
        font-family: 'Ubuntu', 'Century Gothic', sans-serif;
        scroll-behavior: smooth;
    }
/* Navegacion */

/* Cabecera */

    /* Encabezado */

    /* Galeria */

/* Contenido */

    /* Areas de GIT */

    /* Apuntadores de GIT */

    /* Control de Cambios */

/* Pie de Pagina */

    /* Mapa de Contacto */

    /* Repositorios */

    /* Colaboradores */

    /* Formulario Contacto */

    /* Redes sociales */

    /* Derechos de Autor */

/* Small Devices - smartphones */

/* Medium Devices - Tablets */

/* Large Devices - Laptops */

/* Extra Large - Desktop */